<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="lead">
    <%= render 'form', url: @url %>
  </div>
</div>

<h1>Urls</h1>

<table class="table">
  <thead>
    <tr>
      <th>Short url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= link_to shortened_full_url(url), short_path(url.short_url) %></td>
        <td><%= link_to 'Show', url_path(url.short_url) %></td>
        <td><%= link_to 'Destroy', url_path(url.short_url), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
