<!DOCTYPE html>
<html>
  <head>
    <title>RailsUrlShortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Url Shortener</h3>
      </div>

      <%= yield %>

      <footer class="footer">
        <p>© Url shortener 2018</p>
      </footer>

    </div>
  </body>
</html>
